.box-shadow { 
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); 
  }

.card-deck {
  margin : 5px;
}

.forms-left {
  display: flex;
  flex: 2;
  margin: 100px;
}

.forms-right {
  display: flex;
  flex: 1;
}

  .badge-notify{
    background:red;
    position:relative;
    top: -20px;
    right: 10px;
  }
  .my-cart-icon-affix {
    position: fixed;
    z-index: 999;
  }
  
  .logo {
    width : 30px;
    height: 30px;
  }